:root {
  --primary-blue: #10a7e6;
  --Title-orange: #f29559;
  --primary-white: #ffffff;
  --primary-black: #000000;
  --background-white: #f0f7f4;;
}

.custom-container {
  height: 100%;
  width: 99%;

}

.App {
  text-align: center;
}

.Title {
  font-family: "gill-sans-nova", "sans-serif";
  font-size: 2.5rem;
  color: var(--Title-orange);
  font-weight: bold;
  margin-bottom: 1rem;
}

.App-header {
  background-color: var(--primary-white);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-black);
}

#title {
  color: var(--secondary-blue);
}
