:root {
  --primary-blue: #10a7e6;
  --secondary-blue: #ff9320;
  --primary-white: #ffffff;
  --primary-black: #000000;
  --background-white: #F0F7F4;
}

.custom-container {
  height: 97vh;
  width: 97vw;
}

.App {
  text-align: center;
}




.App-header {
  background-color: var(--primary-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-black);
}

#title {
  color: var(--secondary-blue);
}

